/* Tic Tac Toe Styles */
/* End Tic Tac Toe Styles */
/* Memory Game */
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .board .memory-square {
    width: 100px;
    height: 100px;
    background: rgba(0, 100, 100, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    transition: .3s all;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0); }
    .board .memory-square:hover {
      cursor: pointer;
      transition: .3s all;
      box-shadow: 0px 0px 5px #4785ed; }

/* End Memory Game */
